In [1]:
import mysql.connector

In [4]:
mydb = mysql.connector.connect(host='localhost', user='mani', passwd='1234', database='mani')

mycursor= mydb.cursor()

mycursor.execute("select *from student")

result= mycursor.fetchall()

for i in result:
    print(i)

('amir', 'gehu')
('dinesh', 'geu')

In [5]:
result

[('amir', 'gehu'), ('dinesh', 'geu')]