In [8]:
%matplotlib inline
import pandas as pd
import numpy as np

In [2]:
cast = pd.read_csv(r'C:\Users\mani\Python\cast.csv')
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

In [3]:
cast

,title,year,name,type,character,n
0,Suuri illusioni,1985,Homo $,actor,Guests,22.0
1,Gangsta Rap: The Glockumentary,2007,Too $hort,actor,Himself,NaN
2,Menace II Society,1993,Too $hort,actor,Lew-Loc,27.0
3,Porndogs: The Adventures of Sadie,2009,Too $hort,actor,Bosco,3.0
4,Stop Pepper Palmer,2014,Too $hort,actor,Himself,NaN
5,Townbiz,2010,Too $hort,actor,Himself,NaN
6,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
7,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN
8,When the Man Went South,2014,Taipaleti 'Atu'ake,actor,Two Palms - Ua'i Paame,8.0
9,Little Angel (Angelita),2015,Michael 'babeepower' Viera,actor,Chico,9.0
10,Mixing Nia,1998,Michael 'babeepower' Viera,actor,Rapper,NaN
11,The Replacements,2000,Steven 'Bear'Boyd,actor,Defensive Tackle - Washington Sentinels,NaN
12,Dysfunktion,2015,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
13,My Song for You,2010,George 'Bootsy' Thomas,actor,Cooley's Customer,16.0
14,My Song for You,2010,George 'Bootsy' Thomas,actor,Celebration Guest,16.0
15,B-Girl,2009,Jesse 'Casper' Brown,actor,Battle Judge,25.0
16,Battle of the Year,2013,Jesse 'Casper' Brown,actor,Rebel,9.0
17,Kickin' It Old Skool,2007,Jesse 'Casper' Brown,actor,Cole,10.0
18,Step Up All In,2014,Jesse 'Casper' Brown,actor,Grim Knight Dancer,61.0
19,The LXD: The Secrets of the Ra,2011,Jesse 'Casper' Brown,actor,Fangz,NaN
20,Todo x Sara,2014,Gil 'Colibri'Viera,actor,Llavero,NaN
21,Barrio Gangsters,2009,Marcelino 'Dibujo' Torres,actor,Dibujo,NaN
22,"Cornmeal, Gunpowder, Ham Hocks and Guitar Strings",2015,Donnie 'Dicky' Clemson,actor,Jeb Kinney,NaN
23,The LXD: The Secrets of the Ra,2011,Dondraico 'Draico' Johnson,actor,Umbra,NaN
24,Pelotazo nacional,1993,F?lix 'El Gato',actor,Rebolledo,12.0
25,Los tarantos,1963,'El Guisa',actor,Bailaor,25.0
26,De la calle,2001,V?ctor 'El Payaso',actor,Chavo Banda Galerias,83.0
27,De la calle,2001,Luis 'El Plojo',actor,Froil?n plaza del estudiante,80.0
28,Los tarantos,1963,'El Viti',actor,Cantaor,20.0
29,They Want Dick Dickster,2015,Zhavier' (II) 'Fox,actor,Dr. Shrinkalotsky,NaN
...,...,...,...,...,...,...
3311617,Dondurmam gaymak,2006,T?nay ?rper,actress,Seller,NaN
3311618,Halam geldi,2013,Nesrin ?stkanat,actress,Melek,NaN
3311619,Musallat,2007,Serap ?st?n,actress,Zeynep,NaN
3311620,Acliga Doymak,2012,Zeyno ?st?nisik,actress,Selma,NaN
3311621,Dislanmis/Lekeli melek,1993,Zuhal ?st?ntas,actress,Fatma,NaN
3311622,Bhaag Milkha Bhaag,2013,Pr?ity ?upala,actress,Journalist (2013),NaN
3311623,From Sydney with Love,2012,Pr?ity ?upala,actress,Shruti (2012),NaN
3311624,Orange,2010,Pr?ity ?upala,actress,Usha (2010),NaN
3311625,Sex and the City 2,2010,Pr?ity ?upala,actress,Shopper (2010),NaN
3311626,Singh Is Kinng,2008,Pr?ity ?upala,actress,Puja (2008),NaN
3311627,Thalaivaa,2013,Pr?ity ?upala,actress,Pooja (2013),NaN
3311628,The Sky Has Fallen,2009,Pr?ity ?upala,actress,Skylar,NaN
3311629,Virsa,2010,Pr?ity ?upala,actress,Prema,NaN
3311630,Gise Memuru,2010,Sevin? ??ok,actress,Afar Shouting Woman,18.0
3311631,Issiz Adam,2008,Sevin? ??ok,actress,Ece,NaN
3311632,Niceland (Population. 1.000.002),2004,Hugr?n ?orfinnsd?ttir,actress,Diana,10.0
3311633,Eldfjall,2011,Katla M. ?orgeirsd?ttir,actress,Home Nurse,NaN
3311634,Nei er ekkert svar,1995,Gu?r?n B. ?orsteinsd?ttir,actress,Part?gestir,46.0
3311635,Agnes,1995,Ingibj?rg ?orsteinsd?ttir,actress,Kona,25.0
3311636,Beowulf & Grendel,2005,Steinunn ?l?na ?orsteinsd?ttir,actress,Wealtheow,15.0
3311637,Dansinn,1998,Lilja Gu?r?n ?orvaldsd?ttir,actress,S?slumannafr?in,13.0
3311638,Foreldrar,2007,Lilja Gu?r?n ?orvaldsd?ttir,actress,Katrin Eldri,NaN
3311639,Rokland,2011,Lilja Gu?r?n ?orvaldsd?ttir,actress,A?albj?rg - Dagga's Mother,NaN
3311640,XL,2013,Lilja Gu?r?n ?orvaldsd?ttir,actress,Tengdamamma,NaN
3311641,Niceland (Population. 1.000.002),2004,Steinunn ?orvaldsd?ttir,actress,Factory Worker,21.0
3311642,Stuttur Frakki,1993,Sveinbj?rg ??rhallsd?ttir,actress,Flugfreyja,24.0
3311643,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3311644,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3311645,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3311646,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

### How many movies are listed in the titles dataframe?

In [4]:
#Answer
cast.groupby("year").title.nunique().sum()

173716

### What are the earliest two films listed in the titles dataframe?

In [4]:
print(cast.sort_values("year").title.unique()) #all names

['Miss Jerry' 'Jeffries-Sharkey Contest'
 'Battle of Jeffries and Sharkey for Championship of the World' ...
 'Cranium Intel: Magnetism X.3' 'Edge of Time' 'Girl Fight']

In [26]:
df1=cast.iloc[:,2]
df1.sort_values("year").drop_duplicate()
df1.head(2)

ValueError: No axis named year for object type <class 'pandas.core.series.Series'>

In [18]:
cast.groupby("title").mean().sort_values("year").head(2)

                            year    n
title
Miss Jerry                1894.0  NaN
Jeffries-Sharkey Contest  1899.0  1.5

In [22]:
cast.sort_values("year")

,title,year,name,type,character,n
511376,Miss Jerry,1894,Chauncey Depew,actor,Himself - the Director of the New York Central...,NaN
427108,Miss Jerry,1894,William Courtenay,actor,Mr. Hamilton,NaN
2310859,Miss Jerry,1894,Blanche Bayliss,actress,Miss Geraldine Holbrook (Miss Jerry),NaN
978078,Jeffries-Sharkey Contest,1899,James J. Jeffries,actor,Himself,1.0
1839198,Battle of Jeffries and Sharkey for Championshi...,1899,Sailor Sharkey,actor,Himself,2.0
1839203,Jeffries-Sharkey Contest,1899,Sailor Sharkey,actor,Himself,2.0
227301,Jeffries-Sharkey Contest,1899,William A. Brady,actor,Himself,NaN
1295161,Jeffries-Sharkey Contest,1899,William Barclay 'Bat' Masterson,actor,Himself - Audience member,NaN
978075,Battle of Jeffries and Sharkey for Championshi...,1899,James J. Jeffries,actor,Himself,1.0
1581218,Soldiers of the Cross,1900,Reg Perry,actor,Lion,NaN
1581070,Soldiers of the Cross,1900,Orrie Perry,actor,Lion,NaN
552946,Valsons,1905,Armand Dranem,actor,Himself,NaN
1330943,The Story of the Kelly Gang,1906,Mr. McKenzie,actor,Steve Hart,NaN
1973867,The Story of the Kelly Gang,1906,E.J. Tait,actor,Extra,NaN
3305833,Lika mot lika,1906,Tollie Zellman,actress,"Clara, kammarjungfru",3.0
1973868,The Story of the Kelly Gang,1906,Frank Tait,actor,Extra,NaN
1973874,The Story of the Kelly Gang,1906,John Tait,actor,School Master,2.0
1375336,The Story of the Kelly Gang,1906,Frank (VI) Mills,actor,Ned Kelly,NaN
1280341,The Story of the Kelly Gang,1906,Mr. Marshall,actor,Dan Kelly,NaN
436960,The Story of the Kelly Gang,1906,Sam Crewes,actor,Dan Kelly,NaN
664844,The Story of the Kelly Gang,1906,John (III) Forde,actor,Dan Kelly,NaN
2774443,Lika mot lika,1906,Helfrid Lambert,actress,Suzanne,2.0
705816,The Joe Gans-Battling Nelson Fight,1906,Joe Gans,actor,Himself,1.0
1128286,Lika mot lika,1906,Knut Lambert,actor,Coq-H?ron,1.0
430954,The Story of the Kelly Gang,1906,Will Coyne,actor,Joe Byrne,NaN
3182819,The Story of the Kelly Gang,1906,Elizabeth Tait,actress,Kate Kelly,1.0
297049,The Story of the Kelly Gang,1906,Norman (II) Campbell,actor,Steve Hart,NaN
1461192,The Joe Gans-Battling Nelson Fight,1906,Battling Nelson,actor,Himself,2.0
600268,The Story of the Kelly Gang,1906,Jack (II) Ennis,actor,Steve Hart,NaN
2071917,Robbery Under Arms,1907,Lance Vane,actor,Inspector of Police,3.0
...,...,...,...,...,...,...
477768,Back to the Saddle 2,2020,Jaylen Davis,actor,Aaron Russel,1.0
775620,ArkhamAsylumFiles: Reunion,2020,Dante Graves,actor,Jonathan Crane,NaN
477770,Eagle Shadow,2020,Jaylen Davis,actor,Brian Peters,NaN
775621,ArkhamAsylumFiles: Reunion,2020,Dante Graves,actor,Scarecrow,NaN
654587,Cranium Intel: Magnetism X.3,2020,Leon (II) Fleisher,actor,Red Falcon - EXTeam,NaN
634723,Back to the Saddle 2,2020,Marlow (III) Ferguson,actor,Peter Jackson,1.0
2915094,Cranium Intel: Magnetism X.3,2020,Denise (II) Moreno,actress,Neo-Machine Agent# 2.0,NaN
1611753,ArkhamAsylumFiles: Reunion,2020,BrenDen Polar,actor,Richard Grayson,NaN
1860209,The End of the World: Volume I,2020,Sam Sidiropoulos,actor,The Demon,9.0
794245,The Dreamer,2020,Luke Guarda,actor,Lee Alexander,NaN
2881183,The Property of a Lady Fan Film,2020,Sarah McWalter,actress,Bond Girl1,NaN
3085270,The Lovaganza Convoy: Part 3 - The New World,2020,Ivanna Sakhno,actress,Emijean Spark,1.0
3264953,Death Sentence: Fan Film,2020,Jennie Weldon,actress,Bond Girl,NaN
3106514,The End of the World: Volume I,2020,Dayna Scott,actress,Miss Manga,6.0
2791336,The Property of a Lady Fan Film,2020,Jennie (II) Lee,actress,Bond Girl2,NaN
474086,Cranium Intel: Magnetism X.3,2020,Hardley Davidson,actor,President Scott Collins,NaN
649716,Cyborg,2020,Ray (V) Fisher,actor,Victor Stone,NaN
1363295,Cranium Intel: Magnetism X.3,2020,Aeneas Middleton,actor,Henry Blades - Leader of EXTeam,NaN
2678165,Death Sentence: Fan Film,2020,Ledi Hoxha,actress,Moneypenny,NaN
1820464,The End of the World: Volume I,2020,Riely Seaman,actor,Michael Jorge,7.0
1295078,Cranium Intel: Magnetism X.3,2020,David (II) Masterson,actor,Adam Steinberg - Secretary of Defense,NaN
474958,The End of the World: Volume I,2020,Anthony (VII) Davies,actor,Vincent Magnolias,5.0
1363294,Cranium Intel: Magnetism X.3,2020,Aeneas Middleton,actor,James Whitaker - President of the United States,NaN
3226003,Death Sentence: Fan Film,2020,Nina Vallee,actress,M,NaN
2915095,Cranium Intel: Magnetism X.3,2020,Denise (II) Moreno,actress,Jennifer Lee Johansson,NaN
649717,Cyborg,2020,Ray (V) Fisher,actor,Cyborg,NaN
2951507,The Property of a Lady Fan Film,2020,Amanda (III) Norton,actress,M,NaN
2678168,The Property of a Lady Fan Film,2020,Ledi Hoxha,actress,Moneypenny,NaN
1368870,Edge of Time,2021,Faton Millanaj,actor,Jake Rollins,NaN
389640,Girl Fight,2021,Kelcey Coe,actor,Russell Brown,NaN

In [8]:
#Answer
i=0
while(i!=2):
    print(cast.sort_values("year").title.unique()[i])
    i=i+1

Miss Jerry
Jeffries-Sharkey Contest

### How many movies have the title "Hamlet"?

In [62]:
#Answer
cast[cast.title=="Hamlet"].year.nunique()

17

### How many movies are titled "North by Northwest"?

In [63]:
#Answer
cast[cast.title=="North by Northwest"].year.nunique()

1

### When was the first movie titled "Hamlet" made?

In [27]:
#Answer
cast[cast.title=="Hamlet"].year.min()

1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [26]:
#Answer
cast[cast.title=="Treasure Island"].sort_values("year")

,title,year,name,type,character,n
1304778,Treasure Island,1918,Herschel Mayall,actor,Prologue Player,NaN
3258893,Treasure Island,1918,Eleanor Washington,actress,Prologue Player,NaN
3026895,Treasure Island,1918,Violet Radcliffe,actress,Long John Silver,3.0
1160631,Treasure Island,1918,Raymond Lee,actor,Bit Role,NaN
1188122,Treasure Island,1918,Elmo Lincoln,actor,Prologue Player,NaN
837168,Treasure Island,1918,Edwin Harley,actor,Prologue Player,NaN
311157,Treasure Island,1918,Francis Carpenter,actor,Jim Hawkins,1.0
1356733,Treasure Island,1918,Buddy Messinger,actor,Captain Smolett,6.0
773848,Treasure Island,1918,Joe Grant,actor,Undetermined child role,NaN
2438589,Treasure Island,1918,Virginia Lee Corbin,actress,Louise Trelawney,2.0
764015,Treasure Island,1918,Charles Gorman,actor,Prologue Player,NaN
1578208,Treasure Island,1918,Lloyd Perl,actor,Black Dog,4.0
1790003,Treasure Island,1918,Lewis Sargent,actor,Ben Gunn,5.0
1395988,Treasure Island,1920,Bull Montana,actor,Morgan,8.0
494709,Treasure Island,1920,Sydney Deane,actor,Squire Trelawney,10.0
2861221,Treasure Island,1920,Shirley Mason,actress,Jim Hawkins,1.0
1873300,Treasure Island,1920,Joseph Singleton,actor,Israel Hands,7.0
1990025,Treasure Island,1920,Wilton Taylor,actor,Black Dog,4.0
343800,Treasure Island,1920,Lon Chaney,actor,Merry,5.0
1250148,Treasure Island,1920,Charles Hill Mailes,actor,Dr. Livesey,11.0
644763,Treasure Island,1920,Al W. Filson,actor,Bill Bones,3.0
2885002,Treasure Island,1920,Josie Melville,actress,Mrs. Hawkins,2.0
343799,Treasure Island,1920,Lon Chaney,actor,Blind Pew,5.0
1508295,Treasure Island,1920,Charles Ogle,actor,Long John Silver,6.0
901015,Treasure Island,1920,Harry Holden,actor,Capt. Smollett,9.0
921316,Treasure Island,1934,Olin Howland,actor,Pirate of the Spanish Main,13.0
8507,Treasure Island,1934,Robert Adair,actor,Tom - Seaman,NaN
2311930,Treasure Island,1934,Bernice Beatty,actress,Woman at Inn,NaN
813334,Treasure Island,1934,Frank Hagney,actor,Pirate,NaN
739270,Treasure Island,1934,Matt Gilman,actor,Pirate,NaN
...,...,...,...,...,...,...
1951865,Treasure Island,1985,Jean-Fran?ois St?venin,actor,Israel Hands (The Rat),7.0
69335,Treasure Island,1985,Pedro Armend?riz Jr.,actor,Mendoza,11.0
1621743,Treasure Island,1985,Melvil Poupaud,actor,Jim Hawkins,14.0
14811,Treasure Island,1985,Yves Afonso,actor,French captain,8.0
3121588,Treasure Island,1985,Sheila (II),actress,Aunt,5.0
2725313,Treasure Island,1985,Anna Karina,actress,Mother,3.0
104267,Treasure Island,1999,Lance (II) Baker,actor,Frank,1.0
192154,Treasure Island,1999,Jonah Blechman,actor,The Body,3.0
282105,Treasure Island,1999,Bob Byington,actor,Thomas,12.0
3134002,Treasure Island,1999,Rachel Singer,actress,Anna,6.0
2978602,Treasure Island,1999,Lisa Papineau,actress,Diedre,19.0
2933289,Treasure Island,1999,Suzy Nakamura,actress,Yo-Ji,5.0
3217164,Treasure Island,1999,Guinevere Turner,actress,Evelyn,14.0
409238,Treasure Island,1999,Becket Cook,actor,The Gent,13.0
1816857,Treasure Island,1999,Dolph Scott,actor,Parker,11.0
2632197,Treasure Island,1999,Daisy Hall,actress,Penny,8.0
542573,Treasure Island,1999,Jamie Donovan,actor,John,21.0
2444396,Treasure Island,1999,Nigel (II) Cox,actress,Enid,22.0
803025,Treasure Island,1999,Paul Gutrecht,actor,Some Guy,20.0
860889,Treasure Island,1999,Pat Healy,actor,Clark,4.0
892945,Treasure Island,1999,George Hirschmann,actor,Admiral,12.0
2225132,Treasure Island,1999,Caveh Zahedi,actor,Harold,9.0
1068943,Treasure Island,1999,Scott King,actor,Walter,15.0
1265320,Treasure Island,1999,J.P. Manoux,actor,Officer Hughes,18.0
1507626,Treasure Island,1999,Nick Offerman,actor,Samuel,2.0
1653669,Treasure Island,1999,Victor Raider-Wexler,actor,Samowitz,10.0
1720561,Treasure Island,1999,Scot Thomas Robinson,actor,Jimmy,11.0
1802485,Treasure Island,1999,Richard Schave,actor,Man,21.0
2693149,Treasure Island,1999,Stephanie Ittleson,actress,Stella,7.0
810348,Treasure Island,1999,Rio Hackford,actor,Hans,23.0

### How many movies were made in the year 1950?

In [85]:
#Answer
cast[cast.year==1950].title.nunique()

877

### How many movies were made in the year 1960?

In [86]:
#Answer
cast[cast.year==1960].title.nunique()

1034

### How many movies were made from 1950 through 1959?

In [87]:
#Answer
cast[(cast.year>=1950) & (cast.year<1960)].title.nunique()

9681

### In what years has a movie titled "Batman" been released?

In [90]:
#Answer
print(cast[cast.title=="Batman"].year.unique())

[1943 1989]

In [44]:
cast[cast.title=="Batman"].year.unique()

array([1943, 1989], dtype=int64)

### How many roles were there in the movie "Inception"?

In [91]:
#Answer
cast[cast.title=="Inception"].character.nunique()

51

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [31]:
#Answer
cast[cast.title=="Inception"].n.isnull().sum()

21

In [21]:
cast[cast.title=="Inception"].n.isnull().count()#total number of values in "n" column

72

### But how many roles in the movie "Inception" did receive an "n" value?

In [29]:
#Answer
cast[cast.title=="Inception"].n.dropna().count()

51

In [28]:
cast[cast.title=="Inception"].n.dropna().shape

(51,)

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [13]:
#Answer
cast[cast.title=="North by Northwest"].sort_values("n").dropna().loc[:,["name","n"]]#increasing order

                         name     n
773496             Cary Grant   1.0
3084579       Eva Marie Saint   2.0
1292652           James Mason   3.0
2776446   Jessie Royce Landis   4.0
315343         Leo G. Carroll   5.0
2685171  Josephine Hutchinson   6.0
1504777           Philip Ober   7.0
1130557         Martin Landau   8.0
2167754         Adam Williams   9.0
1607029          Edward Platt  10.0
590702      Robert Ellenstein  11.0
2033529          Les Tremayne  12.0
411247        Philip Coolidge  13.0
1339004         Patrick McVey  14.0
180985           Edward Binns  15.0
1228229             Ken Lynch  16.0

In [14]:
print(cast[cast.title=="North by Northwest"].sort_values("n").dropna().name)#increasing order

773496               Cary Grant
3084579         Eva Marie Saint
1292652             James Mason
2776446     Jessie Royce Landis
315343           Leo G. Carroll
2685171    Josephine Hutchinson
1504777             Philip Ober
1130557           Martin Landau
2167754           Adam Williams
1607029            Edward Platt
590702        Robert Ellenstein
2033529            Les Tremayne
411247          Philip Coolidge
1339004           Patrick McVey
180985             Edward Binns
1228229               Ken Lynch
Name: name, dtype: object

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [38]:
#Answer
cast[(cast.title=="Sleuth") & (cast.year==1972)].sort_values("n")

,title,year,name,type,character,n
1513570,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
288502,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
330750,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1299944,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2406762,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1285278,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [39]:
#Answer
cast[(cast.title=="Sleuth") & (cast.year==2007)].sort_values("n")

          title  year                 name     type          character    n
288503   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1147041  Sleuth  2007             Jude Law    actor               Milo  2.0
1602268  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
228757   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
330751   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2406761  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
2958823  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [41]:
#Answer
cast[(cast.title=="Hamlet") & (cast.year==1921)].character.count()

9

In [40]:
cast[(cast.title=="Hamlet") & (cast.year==1921)]

          title  year                    name     type         character    n
6662     Hamlet  1921        Fritz Achterberg    actor       Fortinbras,  9.0
405908   Hamlet  1921            Paul Conradi    actor      K?nig Hamlet  2.0
492378   Hamlet  1921        Anton De Verdier    actor           Laertes  7.0
1008886  Hamlet  1921         Hans Junkermann    actor          Polonius  6.0
1936590  Hamlet  1921            Heinz Stieda    actor           Horatio  5.0
2103633  Hamlet  1921  Eduard von Winterstein    actor          Claudius  4.0
2355176  Hamlet  1921         Mathilde Brandt  actress  K?nigin Gertrude  3.0
2696646  Hamlet  1921          Lilly Jacobson  actress           Ophelia  8.0
2945690  Hamlet  1921            Asta Nielsen  actress            Hamlet  1.0

### How many roles were credited in Branagh’s 1996 Hamlet?

In [12]:
#Answer
cast[(cast.title=="Hamlet") & (cast.year==1996)].character.count()

55

In [46]:
cast[(cast.title=="Hamlet") & (cast.year==1996)].name.__contains__("Branagh")

False

### How many "Hamlet" roles have been listed in all film credits through history?

In [6]:
#Answer
cast[cast.character=="Hamlet"].character.count()

81

### How many people have played an "Ophelia"?

In [9]:
#Answer
cast[cast.character=="Ophelia"].name.nunique() #correct answer

94

In [7]:
cast[cast.character=="Ophelia"].character.count()

96

### How many people have played a role called "The Dude"?

In [11]:
#Answer
cast[cast.character=="The Dude"].name.nunique()

16

### How many people have played a role called "The Stranger"?

In [12]:
#Answer
cast[cast.character=="The Stranger"].name.nunique()

184

### How many roles has Sidney Poitier played throughout his career?

In [14]:
#Answer
cast[cast.name=="Sidney Poitier"].character.nunique() #correct answer

41

In [13]:
cast[cast.name=="Sidney Poitier"].character.count()

43

### How many roles has Judi Dench played?

In [15]:
#Answer
cast[cast.name=="Judi Dench"].character.nunique()

44

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [11]:
#Answer
cast[(cast.year>=1940)&(cast.year<1950)&(cast.name=="Cary Grant")&(cast.n==2)].name.count()

2

In [9]:
cast[(cast.year>=1940)&(cast.year<1950)&(cast.name=="Cary Grant")]#list of all the roles

,title,year,name,type,character,n
773458,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
773466,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
773470,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
773473,George White's Scandals,1945,Cary Grant,actor,Cary Grant,NaN
773475,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
773479,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1.0
773490,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
773491,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
773492,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
773493,My Favorite Wife,1940,Cary Grant,actor,Nick,2.0
773494,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
773495,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
773497,Notorious,1946,Cary Grant,actor,Devlin,1.0
773499,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
773500,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
773503,Penny Serenade,1941,Cary Grant,actor,Roger Adams,2.0
773508,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
773514,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick,1.0
773515,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
773518,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
773520,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
773522,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
773535,Without Reservations,1946,Cary Grant,actor,Cary Grant,NaN

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [14]:
#Answer as n==1 is mean lead role
cast[(cast.year>=1940)&(cast.year<1950)&(cast.name=="Cary Grant")&(cast.n==1)].sort_values("year").loc[:,["character","year","n"]]

                    character  year    n
773518            Matt Howard  1940  1.0
773475           Walter Burns  1940  1.0
773520     C. K. Dexter Haven  1940  1.0
773508                Johnnie  1941  1.0
773522           Leopold Dilg  1942  1.0
773499  Patrick 'Pat' O'Toole  1942  1.0
773466          Capt. Cassidy  1943  1.0
773491              Joe Adams  1943  1.0
773492        Joe Bascopolous  1943  1.0
773500            Jerry Flynn  1944  1.0
773458      Mortimer Brewster  1944  1.0
773495             Ernie Mott  1944  1.0
773494            Cole Porter  1946  1.0
773497                 Devlin  1946  1.0
773514                   Dick  1947  1.0
773515                 Dudley  1947  1.0
773490          Jim Blandings  1948  1.0
773470      Dr. Madison Brown  1948  1.0
773479    Capt. Henri Rochard  1949  1.0

In [30]:
"""#Answer if n==2 is mean lead role
cast[(cast.year>=1940)&(cast.year<1950)&(cast.name=="Cary Grant")&(cast.n==2)].sort_values("year")"""

                   title  year        name   type    character    n
773493  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
773503    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

In [35]:
"""#Answer if n==NaN is mean lead role
cast[(cast.year>=1940)&(cast.year<1950)&(cast.name=="Cary Grant")&(cast.n!=1)&(cast.n!=2)].sort_values("year")"""

                          title  year        name   type   character   n
773473  George White's Scandals  1945  Cary Grant  actor  Cary Grant NaN
773535     Without Reservations  1946  Cary Grant  actor  Cary Grant NaN

### How many roles were available for actors in the 1950s?

In [37]:
#Answer
cast[(cast.year>=1950)&(cast.year<1960)&(cast.type=="actor")].character.count()

147951

### How many roles were available for actresses in the 1950s?

In [39]:
#Answer
cast[(cast.year>=1950)&(cast.year<1960)&(cast.type=="actress")].character.count()

53969

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [40]:
#Answer
cast[(cast.year<=1980)&(cast.n==1)].character.count()

61444

### How many non-leading roles were available through from the beginning of film history through 1980?

In [46]:
#Answer as non-leading role n==2
cast[(cast.year<=1980)&(cast.n==2)].character.count()

58100

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [47]:
#Answer as n==Nan
cast[(cast.year<=1980)&(cast.n!=1)&(cast.n!=2)].character.count()

989777