In [1]:
a= [34,8,8, [78,'hi',9.8],89,'code']
a

[34, 8, 8, [78, 'hi', 9.8], 89, 'code']

In [5]:
a[3][1]

'hi'

name= print("i am himshi")

In [5]:
a=5.8

In [6]:
a

5.8

In [7]:
type(a)

float

In [10]:
a=78.7 - 6
print(a)

72.7

In [ ]:
'True'

In [8]:
b= 'true'

In [13]:
b

'true'

In [14]:
type(b)

str

In [17]:
c=False

In [18]:
type(c)

bool

In [11]:
type(a)

float

In [8]:
n1= 'python'

In [9]:
n1

'python'

In [10]:
type(n1)

str

In [3]:
t = 453 + 76

In [11]:
y = 7.6

In [12]:
y

7.6

In [17]:
name

In [8]:
board= ["  " for i in range(9)]
def print_board():
    row1= "|{} |{} |{}".format(board[0],board[1],board[2])
    row2= "|{} |{} |{}".format(board[3],board[4],board[5])
    row3= "|{} |{} |{}".format(board[6],board[7],board[8])
    print()
    print(row1)
    print(row2)
    print(row3)
    print()

# numbers

In [4]:
y = 3 + 3

In [3]:
y

6

In [3]:
a= 'true'

In [4]:
a

'true'

In [5]:
type(a)

str

In [4]:
4 - 5

-1

In [6]:
3 - 4 * 7 + 3 + 4

-18

In [2]:
entry = []
while len(entry) < 5:
    new_name = input("Please adda new name to the list: ").strip().capitalize()
    entry.append(new_name) 
print("sorry housefull")
#print(entry)

Please adda new name to the list: alex
Please adda new name to the list: elina
Please adda new name to the list: romain
Please adda new name to the list: jack
Please adda new name to the list: jeff
sorry housefull

In [7]:
a = 6.8

In [8]:
a

6.8

In [9]:
type(a)

float

# STRING

In [8]:
#'HELLO WORLD'

'HELLO WORLD'

In [21]:
x = true

NameError: name 'true' is not defined

In [19]:
x

True

In [20]:
type(x)

bool

In [36]:
asf = [1,2,3,'zxc',6.89,[2,9,8.6,'dfg'],56,7654]

In [53]:
asf

[2, 3, 'zxc', [2, 9, 8.6, 'dfg'], 56, 7654, 'fghj', 675, 675.99]

In [24]:
type(asf)

list

In [40]:
asf[5][1]

9

In [65]:
h=[9,5,2,1.8]
print(h)

[9, 5, 2, 1.8]

In [66]:
h.sort()
print

In [67]:
h

[1.8, 2, 5, 9]

In [11]:
"Hi, I am 'best'"

"Hi, I am 'best'"

In [2]:
name = 'my name is sorabh'

In [3]:
name

'my name is sorabh'

In [1]:
name1= "i like 'code'"

In [2]:
name1.upper()

"I LIKE 'CODE'"

In [3]:
name1.lower()

"i like 'code'"

In [4]:
name1.isdigit()

False

In [3]:
5 > 8

False

In [ ]:
name1

In [1]:
NAME='ABHI'

In [2]:
NAME

'ABHI'

In [1]:
name='ankit'

In [5]:
name.lower()

'ankit'

# Operation on string

In [19]:
x = "hello"
x = type(x)
x = "new"

In [21]:
x = "new"

In [3]:
y = "i am the best"

In [4]:
y[2:5]

'am '

In [5]:
y.upper()

'I AM THE BEST'

In [6]:
y.lower()

'i am the best'

In [31]:
y.isnumeric()

False

In [32]:
y.isdigit()

False

In [12]:
z = 4

In [13]:
type(z)

int

# slicing in string

In [9]:
y='i like code'

In [10]:
y

'i like code'

In [12]:
y[ ::2]

'ilk oe'

In [16]:
y[2:11]

'like code'

In [5]:
a = 'name'

In [34]:
y[3:]

'm the best'

In [35]:
y[:4]

'i am'

In [37]:
y[0:9]

'i am the '

In [2]:
number = 1
while number <= 879:
    if number %2 != 0:
        print(number)
    number = number + 1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101
103
105
107
109
111
113
115
117
119
121
123
125
127
129
131
133
135
137
139
141
143
145
147
149
151
153
155
157
159
161
163
165
167
169
171
173
175
177
179
181
183
185
187
189
191
193
195
197
199
201
203
205
207
209
211
213
215
217
219
221
223
225
227
229
231
233
235
237
239
241
243
245
247
249
251
253
255
257
259
261
263
265
267
269
271
273
275
277
279
281
283
285
287
289
291
293
295
297
299
301
303
305
307
309
311
313
315
317
319
321
323
325
327
329
331
333
335
337
339
341
343
345
347
349
351
353
355
357
359
361
363
365
367
369
371
373
375
377
379
381
383
385
387
389
391
393
395
397
399
401
403
405
407
409
411
413
415
417
419
421
423
425
427
429
431
433
435
437
439
441
443
445
447
449
451
453
455
457
459
461
463
465
467
469
471
473
475
477
479
481
483
485
487
489
491
493
495
497
499
501
503
505
507
509
511
513
515
517
519
521
523
525
527
529
531
533
535
537
539
541
543
545
547
549
551
553
555
557
559
561
563
565
567
569
571
573
575
577
579
581
583
585
587
589
591
593
595
597
599
601
603
605
607
609
611
613
615
617
619
621
623
625
627
629
631
633
635
637
639
641
643
645
647
649
651
653
655
657
659
661
663
665
667
669
671
673
675
677
679
681
683
685
687
689
691
693
695
697
699
701
703
705
707
709
711
713
715
717
719
721
723
725
727
729
731
733
735
737
739
741
743
745
747
749
751
753
755
757
759
761
763
765
767
769
771
773
775
777
779
781
783
785
787
789
791
793
795
797
799
801
803
805
807
809
811
813
815
817
819
821
823
825
827
829
831
833
835
837
839
841
843
845
847
849
851
853
855
857
859
861
863
865
867
869
871
873
875
877
879

# list

In [9]:
new_lst = [289790, 3, 'hello', 5, 8, [5, 8,'hi',8.6], 78, 9, 0.7]

In [9]:
new_lst

[289790, 3, 'hello', 5, 8, [5, 8, 'hi', 8.6], 78, 9, 0.7]

In [10]:
new_lst[5]

[5, 8, 'hi', 8.6]

In [16]:
lst = ['hi', 2, 'hello', 63, 34, 12, 43, 32, [2,3,5], 56,9.6]

In [17]:
lst

['hi', 2, 'hello', 63, 34, 12, 43, 32, [2, 3, 5], 56, 9.6]

In [16]:
new_lst[5]

[5, 8]

In [13]:
type(new_lst)

list

In [20]:
lst[3]='aman'

In [21]:
lst

['hi', 2, 'aman', 'aman', 34, 12, 43, 32, [2, 3, 5], 56, 9.6]

In [22]:
lst.append("sour")

In [23]:
lst

['hi', 2, 'aman', 'aman', 34, 12, 43, 32, [2, 3, 5], 56, 9.6, 'sour']

In [6]:
lst6=[3,7,9]

lst

In [7]:
lst6

[3, 7, 9]

In [8]:
lst6[2]="hi"

In [9]:
lst6

[3, 7, 'hi']

In [42]:
lst.append("sourabh")

In [43]:
lst

['hi', 2, 'hello', 63, 34, 12, 43, 32, 'sourabh']

In [51]:
lst.append(12.3)

In [52]:
lst

['hi', 2, 'hello', 63, 34, 12, 43, 32, 'sourabh', 123, 12.3]

In [50]:
'code' in lst

False

In [47]:
new_lst[2] = "morning"

In [49]:
new_lst

[2, 3, 'morning', 5, [5, 9], 8, 9]

In [51]:
new_lst[5] = "hello"

In [52]:
new_lst

[2, 3, 'morning', 5, [5, 9], 'hello', 9]

In [54]:
new_lst.append("addition")

In [10]:
new_lst

[289790, 3, 'hello', 5, 8, [5, 8, 'hi', 8.6], 78, 9, 0.7]

In [14]:
new_lst[4:][]

[8, [5, 8, 'hi', 8.6], 78, 9, 0.7]

In [57]:
type(new_lst)

list

# tuple

In [5]:
tup = (2, 6, 8, 4, 5, (5,9), 9)

In [6]:
tup

(2, 6, 8, 4, 5, (5, 9), 9)

In [7]:
type(tup)

tuple

In [27]:
tup[:8]

(2, 6, 8, 4, 5, (5, 9), 9)

In [28]:
tup[3]

4

In [29]:
tup[5][0]

5

In [8]:
tup[2]='hi'

TypeError: 'tuple' object does not support item assignment

In [30]:
type(tup)

tuple

In [31]:
tup.append(3)

AttributeError: 'tuple' object has no attribute 'append'

# Dictionary

In [36]:
di = {'key1':'var1', 'key2':'var2', 'key3':'var3'}

In [38]:
di

{'key1': 'var1', 'key2': 'var2', 'key3': 'var3'}

In [39]:
di['key2']

'var2'

In [40]:
dict1 = {'k1':1, 'k2': 2}

In [41]:
dict1

{'k1': 1, 'k2': 2}

In [42]:
dict1['k2']

2

In [45]:
type(dict1)

dict

# set

In [10]:
#unique colection of numbers
st = {2,4,0,8,3,4,2,1,9, 'hi'}

In [11]:
st

{0, 1, 2, 3, 4, 8, 9, 'hi'}

In [12]:
st.add(5)

In [13]:
st

{0, 1, 2, 3, 4, 5, 8, 9, 'hi'}

In [14]:
st.add(6.3)

In [15]:
st

{0, 1, 2, 3, 4, 5, 6.3, 8, 9, 'hi'}

In [16]:
st1= {'d','a','c','g','b','s','d'}

In [17]:
st1

{'a', 'b', 'c', 'd', 'g', 's'}

In [18]:
st[2]='hi'

TypeError: 'set' object does not support item assignment

# list example

In [4]:
lst = [2, 3, [5, 9], 6, 'hi']

In [5]:
lst

[2, 3, [5, 9], 6, 'hi']

In [9]:
lst[2][0]

5

In [10]:
lst[1] = 349

In [11]:
lst

[2, 349, [5, 9], 6, 'hi']

In [12]:
lst[2] = ['ello']

In [13]:
lst

[2, 349, ['ello'], 6, 'hi']

In [15]:
tupl = (2, 3, 5)

In [16]:
tupl

(2, 3, 5)

In [17]:
type(tupl)

tuple

In [18]:
type(lst)

list

In [19]:
tupl[1] = 3

TypeError: 'tuple' object does not support item assignment

In [20]:
dict = {'k1': 'a', 'k2': 'b'}

In [21]:
dict

{'k1': 'a', 'k2': 'b'}

In [22]:
dict['k2']

'b'

In [23]:
dict['k2'] = ['k']

In [24]:
dict

{'k1': 'a', 'k2': ['k']}

In [60]:
st = {2, 9, 4, 3, 0, 2, 4}

In [61]:
st

{0, 2, 3, 4, 9}

In [62]:
st.add(3)

In [63]:
st

{0, 2, 3, 4, 9}

In [64]:
st.add(5)

In [65]:
st

{0, 2, 3, 4, 5, 9}

In [67]:
st.append(1)

AttributeError: 'set' object has no attribute 'append'

# practice

In [68]:
str = "i am the best"

In [69]:
str

'i am the best'

In [70]:
str[2]

'a'

In [74]:
str[0:13]

'i am the best'

In [59]:
str[2:9]

'am the '

In [79]:
str.isdigit()

False

In [80]:
str.isnumeric()

False

In [82]:
type(str)

str

In [63]:
a = 5

In [64]:
a

5

In [66]:
type(a)

int

In [67]:
    b = 2.5

In [68]:
b

2.5

In [69]:
type(b)

float

In [70]:
c ='abc'

In [71]:
c

'abc'

In [72]:
type(c)

str

# demo

In [1]:
3 + 3

6

In [2]:
a = 4

In [3]:
a

4

In [4]:
type(a)

int

In [5]:
b = 'helo'

In [6]:
b

'helo'

In [7]:
type(b)

str

In [8]:
c = 3.8

In [9]:
c

3.8

In [1]:
a = "python"

# CONDITIONAL STATEMENT

In [2]:
5 > 3

True

In [3]:
5 < 9

True

In [4]:
9 < 7

False

In [3]:
if 12 > 8:
    print("first")
elif 8 != 8:
    print("sec")
else:
    print("thirdd")

first

In [4]:
if 5 > 4:
    print('test1')
elif 5 < 4:
    print('test2')
else:
    print('test3')

test1

In [3]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [40]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
range(-8)

range(0, -8)

In [27]:
range(-12)

range(0, -12)

In [47]:
range(60)

range(0, 60)

In [1]:
st = list(range(9))

In [2]:
st

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
for a in [5,6,8,7]:
    print(a)

5
6
8
7

In [11]:
for t in (5,6,8,7):
    print(t)

5
6
8
7

In [26]:
for t in {5,7,8,9}:
    print(t)

8
9
5
7

In [45]:
for st in range(8):
    print(st)

0
1
2
3
4
5
6
7

In [3]:
lst = [3, 5, 8, 'hello', 9, 'hi']

In [4]:
lst

[3, 5, 8, 'hello', 9, 'hi']

In [5]:
for new in lst:
    print(new)

3
5
8
hello
9
hi

In [6]:
for new1 in range(9):
    print(new1)

0
1
2
3
4
5
6
7
8

In [46]:
for temp in lst:
    print(temp)

3
5
8
hello
9
hi

In [26]:
even_numbers = [x for x in range (1,50) if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [3]:
num1 = 3.5
num2 = 6.2

sum = float(num1) + float(num2)

print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

The sum of 3.5 and 6.2 is 9.7

In [7]:
n1=2.7863838
n2=3.7867928
n = float(n1) - float(n2)
print(n)

-1.0004090000000003

In [ ]:
numa = 10.33
numb = 2000
sum = numa + numb
print('sum of {} and {} is {}'.format(numa, numb, sum))

In [9]:
n1=7.3
n2=4.6
sum= n1+n2
print('The sum of {} and {} is {}'.format(n1,n2,sum))

The sum of 7.3 and 4.6 is 11.899999999999999

In [3]:
odd_numbers = [x for x in range (1,60) if x % 2== 1]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59]

In [54]:
i = 0
while i < 5:
    print("hello")
    i = i + 1

hello
hello
hello
hello
hello

In [2]:
i = 0
while i <10:
    print("hi")
    i = i + 2

hi
hi
hi
hi
hi

In [ ]:
number = 1
while number <= 500:
    if number %2 == 0:
        print(number)
        number = number + 1
        print(number)

In [1]:
#function
def add(a,b):
    c=a + b
    return c

In [3]:
a = list(range(100))
a

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [4]:
def addten(d):
    return d + 10

In [14]:
def add1(a):
    return(a+1)
add1(4)

5

In [1]:
def addtwo(a):
    return a + 2

In [16]:
def add3(a,b,c):
    return(a+b+c)
add3(2,5,7)

14

# lambda

In [ ]:
#In Python, anonymous function means that a function is without a name. As we already know that def keyword is
#used to define the normal functions and the lambda keyword is used to create anonymous functions.
#Syntax: lambda arguments: expression
#This function can have any number of arguments but only one expression, which is evaluated and returned.
#One is free to use lambda functions wherever function objects are required.
#You need to keep in your knowledge that lambda functions are syntactically restricted to a single expression.
#It has various uses in particular fields of programming besides other types of expressions in functions.

In [1]:
addtwo= lambda a: a+2
addtwo(4)

6

In [95]:
addtwo1= lambda a : a ** 2

In [96]:
addtwo1(3)

9

In [1]:
x = lambda a : a + 10
print(x(5))

15

In [7]:
exp= lambda x: x**2 + 2*x - 5
print(exp(4))

19

In [8]:
new= lambda a,b : a if a > b else b
new(2,7)

7

In [19]:
x = lambda a, b : a * b

30

In [6]:
def printhello():
    print("Hello")
printhello()

Hello

In [8]:
(lambda :print("Hello"))()

Hello

# Map

In [1]:
lst1 = [2, 3, 7, 9, 12, 32]

In [15]:
addtwo(8)

10

In [16]:
map(addtwo, lst1)

In [6]:
new= list(map(addtwo,lst1))

In [7]:
new

[4, 5, 9, 11, 14, 34]

In [16]:
lst2 = [32, 34.1, 12.09, 12]

In [18]:
new1= list(map(addtwo, lst2))

In [19]:
new1

[34, 36.1, 14.09, 14]

In [18]:
def myfunc(a, b):
    c= a+b
    return c

In [19]:
myfunc(78,89)

167

In [21]:
x = list(map(myfunc,('red','blue','black'),('apple','orange','banana')))
x

['redapple', 'blueorange', 'blackbanana']

In [ ]:
def fun(z,x):
    y= z+x

In [34]:
x

['redapple', 'blueorange', 'blackbanana']

In [13]:
numbers = [ 74, 85, 14, 23, 56, 31,44 ]

remain = map(lambda num: num%5, numbers)
for i in remain:
   print(i)

4
0
4
3
1
1
4

# FILTER

In [2]:
lst1= [51, 1, 54, 76, 13, 62, 79, 21, 56]

In [24]:
lst1

[51, 1, 54, 76, 13, 62, 79, 21, 56]

In [25]:
even_num= list(filter(lambda a : a % 2 ==0, lst1))

In [26]:
even_num

[54, 76, 62, 56]

In [3]:
list(filter(lambda a : a % 2 == 1, lst1))

[51, 1, 13, 79, 21]

In [5]:
weekdays = ['sun', 'mon', 'tues', 'wed', 'thurs','fri']
days = filter(lambda day: day if len(day)==3 else '', weekdays)
for d in days:
    print(d)

sun
mon
wed
fri

In [3]:
student_age = [12,15,19,17,20,21,18,29]
def calcage(x):
    if x < 18:
        return 'he/she is kid'
    else:
        return 'adult'

In [5]:
calcage(19)

'adult'

In [7]:
adults = filter(calcage,student_age)
for x in adults:
        print(x)

12
15
19
17
20
21
18
29

In [6]:
import numpy as np

In [7]:
np.arange(3,12,22)

array([3])

In [ ]:
known_users = ["alice", "bob", "romain", "john", "harry", "elina"]
while True:
    print("Hi, My name is Perrie, How May I help you?")
    name = input("What is your name?:").strip().capitalize()
    if name in known_users:
        print("Hello {}!".format(name))
        remove = input("Would you like to be removed from my system(y/n)?:").strip().lower()
        
        if remove == "y":
            known_users.remove(name)
    else:
            print("hmmm I don't thnk I have met you yet{}".format(name))
            add_me = input("would you like to be added to the sytem (y/n)?:").strip().lower()
            if add_me == "y":
                print(known_users)
                known_users.append(name)

In [1]:
def about(name, age, likes):
    sentence ="Meet {}! He is {} years old and he like {}".format(name, age,likes)
    return sentence

In [4]:
about("Suresh", 25, "python")

'Meet Suresh! He is 25 years old and he like python'

In [4]:
def regarding(Person, Interest, age):
    para ="Meet {}! he like {} and his age is {}".format(Person, Interest, age)
    return para

In [6]:
regarding("Amit", "Football", 40)

'Meet Amit! he like Football and his age is 40'

In [32]:
print(1,2,3,4,5)

1 2 3 4 5

In [33]:
number = (1,2,3,4,5)

In [36]:
print(number)

(1, 2, 3, 4, 5)

In [37]:
print(*number)

1 2 3 4 5

In [38]:
alpha = ("abc","bcd", "cdf", "ghi")

In [39]:
alpha

('abc', 'bcd', 'cdf', 'ghi')

In [41]:
print(*alpha)

abc bcd cdf ghi

In [43]:
num1 = (0.5, 0.6, 12.6, 13.1)

In [45]:
num1

(0.5, 0.6, 12.6, 13.1)

In [46]:
print(*num1)

0.5 0.6 12.6 13.1

In [1]:
genre = ['pop', 'rock', 'jazz']
for i in range(len(genre)):
    print("I like", genre[i])

I like pop
I like rock
I like jazz

In [11]:
a = '5668976'
b = '6789'
c = a + b

In [12]:
c

'56689766789'

In [1]:
lvst=[2,5,63,4,8,4,6]

In [5]:
lvst2=lvst.copy()

In [6]:
lvst2

[2, 5, 63, 4, 8, 4, 6]

In [7]:
lvst3=lvst

In [8]:
lvst3

[2, 5, 63, 4, 8, 4, 6]

In [10]:
lvst3.append(5)

In [11]:
lvst3

[2, 5, 63, 4, 8, 4, 6, 5]

In [12]:
lvst3.insert(3,9)

In [13]:
lvst3

[2, 5, 63, 9, 4, 8, 4, 6, 5]