In [2]:
x=2.27*1000000000

In [3]:
x*65

147550000000.0

In [4]:
lst=[938475,34286.34,'sfstd',242354355,'sdkf',95845.32]

In [5]:
ls1=[]
ls2=[]
ls3=[]

In [6]:
for i in lst:
    if type(i)==int:
        ls1.append(i)
    elif type(i)==float:
        ls2.append(i)
    else:
        ls3.append(i)

print(ls1,ls2,ls3)

[938475, 242354355] [34286.34, 95845.32] ['sfstd', 'sdkf']

In [7]:
99*65

6435

In [16]:
lstnum=[]
for i in range(1,102):
    lstnum.append(i)
print(lstnum)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101]

In [17]:
len(lstnum)
type(lstnum)

list

In [18]:
lst1=[]
lst2=[]

for i in lstnum:
    if i%2==0:
        lst1.append(i)
    else:
        lst2.append(i)

In [25]:
print(lst1,"\n\n",lst2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101]

In [40]:
a=input()
a

2

'2'

In [29]:
int(a)

ValueError: invalid literal for int() with base 10: 'hello'

In [41]:
if type(int(a))==int:
    print("this is integer")
else:
    print("this is string")

this is integer

In [38]:
type(a)

str